[user]
	name = Eugene Triguba
	email = eugene.triguba@paymentworks.com
	signingkey = D533F38E000CD2BB
[core]
	editor = nvim
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	excludesfile = ~/.gitignore
[pull]
  ff = only
[fetch]
	prune = true
[diff]
	colorMoved = zebra
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[gpg]
	program = gpg

